  
  body {background-color: (#E3F6CE;}
  #barra {float: right;} 
  #imagen { background-color: black;            
            width: 25px;
            border: 20px black;}
  #logo { float: left;                     
          width: 25px;
          border: 20px black;}